<% column_receive_only_method = override_helper_per_model(:kanban_column_receive_only?, active_scaffold_config.model) %>
<%= content_tag :div, class: 'kanban', data: kanban_data_attrs do %>
<% user_kanban_columns.each do |label, value| %>
  <%
    id = value.id if @kanban_column.association
    column_data = {value: id || value}
    column_data[:receive_only] = true if send(column_receive_only_method, value)
  %>
  <%= content_tag :div, class: 'kanban-column', data: column_data do %>
    <div class="title"><%= label %></div>
    <div class="cards">
      <%= render partial: 'kanban_card', as: :record, collection: @records.select { |record| record.send(@kanban_column.name) == value } %>
    </div>
  <% end %>
<% end %>
<% end %>